@model Models.EF.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>

</style>

@section jsFooter{
    <script src="~/assets/web/js/controller/contactController.js"></script>


}
<br />
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>THÔNG TIN LIÊN HỆ</h2>
                @*@Html.Raw(Model.Content)*@
                <br />
                <div class="all-comments">
                    <div class="all-comments-info">
                        <a href="#">Liên hệ chúng tôi</a>
                        <div class="agile-info-wthree-box">
                            <form>
                                <input type="text" id="txtName" placeholder="Tên bạn" >
                                <input type="text" id="txtMobile" placeholder="Số điện thoại" >
                                <input type="text" id="txtAddress" placeholder="Địa chỉ" >
                                <input type="text" id="txtEmail" placeholder="Email" >
                                <textarea placeholder="Yêu cầu" id="txtContent" ></textarea>
                                &nbsp;<input id="btnSend" type="button" value="Gửi đi">
                                <div class="clearfix"> </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <h2 style="text-align:center">BẢN ĐỒ</h2>
                <div id="map" style="width:500px;height:500px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3836.999267337498!2d108.34105521479084!3d15.909109288980025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314210fb8cbecab3%3A0x213033202dc5f2aa!2zTOG6oWMgTG9uZyBRdcOibiwgQ-G6qW0gQW4sIFRwLiBI4buZaSBBbiwgUXXhuqNuZyBOYW0sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1585830553240!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

            </div>
        </div>

    </div>
</div>

